<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table
                border="2"
                width="100%"
                height="200"
                cellspacing="4">

            <thead>
            <tr>
                <th>게시글번호</th>
                <th>작성자</th>
                <th>게시글제목</th>
                <th>작성날짜</th>
                <th>조회수</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr
                    align="center"
                    bgcolor="white"
                    th:each="board : ${boards}">
                <td th:text="${board.no}"></td>
                <td th:text="${board.uid}"></td>
                <td><a th:href="@{/boards/show(no=${board.no})}"><span th:text="${board.title}"></span></a></td>
                <td th:text="${board.date}"></td>
                <td th:text="${board.views}"></td>
                <td>
                    <th:block th:if="${session==board.uid}"><a th:href="@{/boards/update(no=${board.no})}">수정</a>
                    </th:block>
                </td>
                <td><a th:if="${session==board.uid}" href="@{/boards/delete(no=${board.no})}">삭제</a></td>
            </tr>
            <tr>
                <td>
                    <a href="/boards/write">글쓰기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>