<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<body>
<style>
  td {
    width : 900px;
  }


</style>
<h1 text=' 게시글 가져오기 '></h1>
<table border="1">
  <input type="hidden" id="user" th:value="${user}">
  <input type="hidden" id="boardNo" th:value="${board.no}">



  <tr>
    <th>작성자</th>
    <td><div th:text="${board.uid}"></div></td>
  </tr>
    <th>제목</th>
    <td><div th:text="${board.title}"></div></td>
  <tr>
  </tr>
    <th>조회수</th>
    <td><div th:text="${board.views}"></div></td>
  <tr>
    <th height="100">글내용</th>
    <td>
                        <div th:text="${board.content}">
                            </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="button" value="목록" onclick="openList()">
    </td>
  </tr>
  </table>

  <div>
    <input type="button" id="btn_takeCommentList" value="댓글목록">
  </div>

<div id="commentTable">
  <div style="margin-top:3px" th:each="comment:${comments}">
      <div>
        <small th:text="${comment.uid}" /></small>
        <small th:text="${comment.date}"></small>
      </div>
      <div th:text="${comment.content}"></div>
      <div th:if="${#strings.equals(comment.uid,user)}">
        <span ><input type="text"  th:class="${comment.id}"></span>
        <span><input type="button" class="btn_updateComment" th:id="${comment.id}" value="수정"></span>
          <span><input type="button" class="btn_deleteComment" th:id="${comment.id}" value="삭제"></span>
      </div>
  </div>
</div>

<div style="margin-top: 30px">
    <input type="text" id="newCommentContent" name="newComment">
    <input type="button" id="btn_newComment" value="댓글작성하기">
</div>

<script>

    var no = document.getElementById("boardNo").value;
    list=true;



    openList = function() {
        let selectedCategory;

        if ([[${board.category}]]==1) {
            selectedCategory='NOTICE';
        } else if ([[${board.category}]]==2) {
            selectedCategory='FREE';
        } else if ([[${board.category}]]==3) {
            selectedCategory='MEETING';
        }

        location.href="/boards?category="+selectedCategory;
    }
    $(function() {
        $("#btn_takeCommentList").click(function() {
            if(list==true) {
            param={"no":no};
            $.ajax({
                method: "GET",
                url: "/comments",
                data: param,
            }).done(function(fragment) {
                $("#commentTable").replaceWith(fragment);
            })
                list=false;
        } else {
                $("#commentTable").empty();
                list=true;
            }

        })

    })
    $(function() {
        $('body').click(function (e) {

            const target = e.target
            if (!target.matches('.btn_updateComment')) {
                return
            }

            const commentId = target.id;
            check = confirm("댓글을 수정하시겠습니까?")
            if(check) {
                content = $("."+commentId).val();
                param = {"content": content, "id": commentId, "no": no};
                $.ajax({
                    method: "PUT",
                    url: "/comments",
                    data: param,
                }).done(function (fragment) {
                    $("#commentTable").replaceWith(fragment);
                })
            }
        })
    })

    $(function() {
        $("#btn_newComment").click(function() {
            uid = document.getElementById("user").value;
            content = $("#newCommentContent").val();
            param = {"content":content, "uid":uid, "no":no};
            $.ajax({
                method:"POST",
                url: "/comments",
                data: param,
            }).done(function(fragment) {
                $("#commentTable").replaceWith(fragment);
            })
        })
    })

    $(function() {
        $('body').click(function (e) {
            const target = e.target

            if (!target.matches('.btn_deleteComment')) {
                return
            }

            const commentId = target.id;
            check = confirm("댓글을 삭제하시겠습니까?")
            if(check) {
                param = {"id": commentId, "no": no};
                $.ajax({
                    method: "DELETE",
                    url: "/comments",
                    data: param,
                }).done(function (fragment) {
                    $("#commentTable").replaceWith(fragment);
                })
            }
        })

    })



</script>
</body>
</html>