<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.SSF.Community.Mapper.BoardMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        insert into board(title, content,category, uid)
        values ( #{title}, #{content}, #{category}, #{uid});
    </insert>
    <update id="update">
        update board
        set title=#{title},
            content=#{content},
            category=#{category}
        where no=#{board.no};


    </update>
    <delete id="delete">
        delete
        from board
        WHERE no =#{board.no};
    </delete>
    <select id="findAll" resultType="flab.SSF.Community.domain.Board">
        select *
        from board;
    </select>
    <select id="orderByViews" resultType="flab.SSF.Community.domain.Board">
        select *
        from board
        ORDER BY views DESC;
    </select>
    <select id="selectByUid" parameterType="String" resultType="flab.SSF.Community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{uid}, uid)>0;
    </select>
    <select id="selectByTitle" parameterType="String" resultType="flab.SSF.Community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{title}, title)>0;
    </select>
    <select id="selectByContent" parameterType="String" resultType="flab.SSF.Community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{content}, content)>0;
    </select>
    <select id="selectByCategory" parameterType="int" resultType="flab.SSF.Community.domain.Board">
        select *
        from board
        WHERE category = #{category};
    </select>

</mapper>