<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.ssf.community.mapper.BoardMapper">

    <insert id="insert"  useGeneratedKeys="true" keyProperty="no">
        insert into board(title, content,category, uid)
        values ( #{title}, #{content}, #{category}, #{uid});

        <selectKey keyProperty="no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
    <update id="update">
        update board
        set title=#{title},
            content=#{content},
            category=#{category}
        where no=#{board.no};


    </update>
    <update id="updateViews">
        update board
        set views=views+1
        where no=#{no};

    </update>
    <delete id="delete" parameterType="int">
        delete
        from board
        WHERE no =#{no};
    </delete>
    <delete id="deleteByUid" parameterType="String">
        delete
        from board
        WHERE uid =#{uid};
    </delete>
    <select id="findAll" resultType="flab.ssf.community.domain.Board">
        select *
        from board;
    </select>
    <select id="orderByViews" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        ORDER BY views DESC;
    </select>
    <select id="selectByUid" parameterType="String" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{uid}, uid)>0;
    </select>
    <select id="selectByTitle" parameterType="String" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{title}, title)>0;
    </select>
    <select id="selectByContent" parameterType="String" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        WHERE LOCATE(#{content}, content)>0;
    </select>
    <select id="selectByCategory" parameterType="int" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        WHERE category = #{category};
    </select>
    <select id="selectByNo" parameterType="int" resultType="flab.ssf.community.domain.Board">
        select *
        from board
        WHERE no = #{no};
    </select>


</mapper>