<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.ssf.community.mapper.CommentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into comment(content, uid, no)
        values (#{content}, #{uid}, #{no});
    </insert>
    <update id="update">
        update comment
        set content=#{content},
            where no =#{comment.no};


    </update>
    <delete id="delete">
        delete
        from comment
        WHERE no =#{comment.no};
    </delete>
    <select id="findAll" resultType="flab.ssf.community.domain.Comment">
        select *
        from comment;
    </select>


</mapper>